<!-- 
Page: Footer
Student Name: Jean M. de Freitas
Student ID: 301125083
Date: 10/09/2020
-->

<!-- Footer First part: Contact -->

<ul class="footer__contact-information">
    <li><a href="tel:+1 (416) 475 6490"><img class="flaticon" src="public/assets/images/telephone.png"> +1 (416) 475 6490</a></li>
    <li><a href="mailto:jeanmf@live.com"><img class="flaticon" src="public/assets/images/email.png"> jeanmf@live.com</a></li>
    <li><a href="https://goo.gl/maps/BcMwTLx2eV5GQkVt8" target="blank"><img class="flaticon" src="public/assets/images/map.png"> 10 Roywood Drive - ON, Toronto</a></li>
  </ul>
</div>

<hr style="border: 0;border-top: 1px solid #525B60; display:block;margin-top: 40px;">

<!-- Footer Second part: Social Medias -->

<div class="container text-center">
  <div class="social-icon">
    <ul>
      <li><a href="https://www.instagram.com/jeanmello" target="blank"><img class="flaticon" src="public/assets/images/001-instagram.png"></a></li>
      <li><a class="flaticon" href="https://www.facebook.com/jeanmellof" target="blank"><img class="flaticon" src="public/assets/images/002-facebook.png"></a></li>
      <li><a class="flaticon" href="https://www.linkedin.com/in/jeanmellofreitas" target="blank"><img class="flaticon" src="public/assets/images/003-linkedin.png"></a></li>
      <li><a class="flaticon" href="https://api.whatsapp.com/send?phone=14164756490&text" target="blank"><img class="flaticon" src="public/assets/images/004-whatsapp.png"></a></li>
    </ul>
  </div>

  <!-- Copyright -->

  <p class="footer__paragraph">Copyright &copy; 2020 Jean M. de Freitas</p>