<!-- 
Page: Head
Student Name: Jean M. de Freitas
Student ID: 301125083
Date: 10/09/2020
-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Tab title -->

<title>Jean Mello de Freitas - <%= title %></title>

<!-- Tab Icon -->

<link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/logo.png">

<!-- CSS Link -->

<link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/assets/css/styles.css">
