<!-- 
Page: Head
Student Name: Jean M. de Freitas
Student ID: 301125083
Date: 10/09/2020
-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Tab Title -->

<title>Jean Mello de Freitas - <%= title %></title>

<!-- CSS Link -->

<link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/public/assets/css/styles.css">
