<!-- 
Page: Update View
Student Name: Jean M. de Freitas
Student ID: 301125083
Date: 10/23/2020
-->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/public/assets/css/styles.css">

</head>
<body>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modalContent" class="modal-content">
    <span class="close"></span>
  </div>

</div>
   
</body>
</html>