<!DOCTYPE html>
<html lang="en">
<head>
	<% title="Contact"; %>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-12">
				
				<div class="well">
					<h3>Look I'm Contact!</h3>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>